/*******************************************************************************
 *                                                                             *
 * Root					 				                       				   *
 *                                                                             *
 ******************************************************************************/
.root > * {
	/* Swatch Colors - http://colorhunt.co/c/108676/ */
	-swatch-100: #ECECEB;
	-swatch-200: #F9A828;
	-swatch-300: #07617D;
	-swatch-400: #2E383F;
	/*default colors */
	
	-swatch-grey: rgb(180.0, 180.0, 180.0);
	-swatch-dark-grey: rgb(65.0, 65.0, 65.0);
	/* A bright blue for the focus indicator of objects. Typically used as the
     * first color in -fx-background-color for the "focused" pseudo-class. Also
     * typically used with insets of -1.4 to provide a glowing effect.
     */
	-fx-focus-color: derive(-swatch-300, 80%);
	-fx-faint-focus-color: derive(-swatch-200, 70%);
	/* A bright blue for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars */
	-fx-accent: derive(-swatch-200, 50%);
	-fx-dark-text-color: white;
}




.dialog-pane {
	-fx-background-color: #FFFFFF; 
	-fx-border-color: transparent;
	-fx-border-width: 0;
	-fx-effect: dropshadow(three-pass-box, rgb(0.0, 0.0, 0.0, 0.30), 24, 0.5, 0, 0);

}

.dialog-pane:header .header-panel {
 	-fx-background-color: -fx-accent;

  	-fx-text-fill:-swatch-300;
  	-fx-font-size:18.0px;
}

.dialog-pane > *.button-bar > *.container{
    -fx-background-color: #FFFFFF;
}

 .dialog-pane .button {
	-fx-text-fill: #FFFFFF;
	-fx-background-color: derive(-swatch-300, 50%);
	-fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.30), 6.0, 0.3, 0,
		1);
}

.dialog-pane .button:hover {
	-fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.30), 12.0, 0.45, 0,
		1);
}

.dialog-pane .button:pressed {
	-fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.30), 3.0, 0.3, 0,
		1);
}

.dialog-pane .button .button .text {
	-fx-font-weight: Bold;
}

/*******************************************************************************
 *                                                                             *
 * Text, Text field & Text area                                                *
 *                                                                             *
 ******************************************************************************/

.dialog-pane .text-area, .text-field {
	-fx-background-color: transparent;
	-fx-background-radius: 2.0;
	-fx-prompt-text-fill: -swatch-grey;
	-fx-text-fill: -swatch-dark-grey;
	
}


.dialog-pane .text-area:disabled, .dialog-pane .text-area:disabled {
	-fx-text-fill: rgb(245.0, 245.0, 245.0);
}